<?php
// set TEST_ONLY, VERBOSE, and KEEP_FILES to false for production
define( 'TEST_ONLY', true );
define( 'VERBOSE', true );
define( 'KEEP_FILES', true );

// The base directory to search for actigraph files which are ready for transfer (origin)
define( 'ACTIGRAPH_BASE_PATH', 'actigraph' );

// The base directory to search for ticwatch files which are ready for transfer (origin)
define( 'TICWATCH_BASE_PATH', 'ticwatch' );

// The base directory of the local data repository to transfer files to (local destination)
define( 'LOCAL_DATA_REPOSITORY', 'data' );

// The base directory of the remote data repository to transfer files to (remote destination)
define( 'REMOTE_DATA_REPOSITORY', 'user@domain.name:/path' );

// Which study the files belong to (in the data repository)
define( 'STUDY_NAME', 'clsa' );

// Which phase of the study the files belong to
define( 'STUDY_PHASE', '4' );
