<?php
// set TEST_ONLY, VERBOSE, and KEEP_FILES to false for production
define( 'TEST_ONLY', true );
define( 'VERBOSE', true );
define( 'KEEP_FILES', true );

// The connection details for the CENOZO database
define( 'CENOZO_DB_HOSTNAME', '' );
define( 'CENOZO_DB_USERNAME', '' );
define( 'CENOZO_DB_PASSWORD', '' );
define( 'CENOZO_DB_DATABASE', '' );

// The absolute base directory of the data repository to transfer files to
define( 'DATA_DIR', '/data' );

// The relative directory to look for files to be sorted
define( 'TEMPORARY_DIR', 'temporary' );

// The relative directory to look for cleaned files to be re-sorted
define( 'CLEANED_DIR', 'cleaned' );

// THe relative directory to move files which cannot be sorted
define( 'INVALID_DIR', 'invalid' );

// Details concerning actigraph files
define( 'ACTIGRAPH_IDENTIFIER_NAME', '' );
define( 'ACTIGRAPH_STUDY_NAME', '' );
define( 'ACTIGRAPH_STUDY_PHASE', '' );

// Details concerning ticwatch files
define( 'TICWATCH_IDENTIFIER_NAME', '' );
define( 'TICWATCH_STUDY_NAME', '' );
define( 'TICWATCH_STUDY_PHASE', '' );
