<?php
// The connection details for the CENOZO, ALDER, and PINE databases
define( 'CENOZO_DB_HOSTNAME', '' );
define( 'CENOZO_DB_USERNAME', '' );
define( 'CENOZO_DB_PASSWORD', '' );
define( 'CENOZO_DB_DATABASE', '' );
define( 'ALDER_DB_DATABASE', '' );
define( 'PINE_DB_DATABASE', '' );

// Opal settings
define( 'OPAL_USERNAME', '' );
define( 'OPAL_PASSWORD', '' );
define( 'OPAL_URL', '' );
define( 'OPAL_TIMEOUT', 5 );

// Alternate Opal settings
define( 'OPALALT_USERNAME', '' );
define( 'OPALALT_PASSWORD', '' );
define( 'OPALALT_URL', '' );
define( 'OPALALT_TIMEOUT', 5 );

// The absolute base directory of the data repository to transfer files to
define( 'DATA_DIR', '/data' );

// The relative directory to store all raw data
define( 'RAW_DIR', 'raw' );

// The relative directory to look for files to be sorted
define( 'TEMPORARY_DIR', 'temporary' );

// The relative directory to move files which cannot be sorted
define( 'INVALID_DIR', 'invalid' );

// The relative directory to copy prepared data for release
define( 'RELEASE_DIR', 'release' );

// The relative directory to write supplementary files
define( 'SUPPLEMENTARY_DIR', 'supplementary' );

// The connection details to a remote PACS server to send US ECHO files to
define( 'PACS_LOCAL_AE_TITLE', '' );
define( 'PACS_REMOTE_AE_TITLE', '' );
define( 'PACS_SERVER', '' );
define( 'PACS_PORT', '' );
